# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Environments
.venv
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# SUMO temporary / trip / dump files
*.sbstat
*.xml.bak
temp_*.xml

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Dataset files
data/bigquery-geotab-intersection-congestion.zip
data/train.csv
data/test.csv
data/sample_submission.csv
data/submission_metric_map
data/submission_metric_map.json
data/BigQuery-Dataset-Access.md
